<img class="footer-grass" src="/assets/images/footer-grass.png">
<footer class="site-footer">
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="/about">Tentang Gudang Dolanan Indonesia</a>
          </li>
          <li>
            <a href="/faq">FAQ</a>
          </li>
          <li>
            <a href="/contributing">Berkontribusi</a>
          </li>
          <li>
            <a href="/authors">Kontributor</a>
          </li>
          <li>
            <a href="/feed.xml">RSS</a>
          </li>
          <li>
            <a href="/api">API</a>
          </li>
          <li>
            <a href="">Lisensi & Hak Cipta</a>
          </li>
            <!--
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
